.header-background{
    height: 150px;
    background-image: url('../img/pattern.png');
    background-color: aqua;
}

#The-Booleaner{
    color: #4ea0ff;
}

.autor{
    line-height: 2px;
    font-style: normal;
}
.small-text{
    font-size: small;
}

.notable{
    background-color: yellow;
}